<div class="form-outer-wrapper">
    <div class="form-inner-wrapper">
        <fieldset>
            <form id="registrationForm" action="/account/registration" method="POST">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
                <label for="account_email">Email:</label>
                <input type="email" id="account_email" name="account_email" placeholder="Email" required>
                <label for="account_password">Password:</label>
                <div class="password-wrapper">
                    <input type="password" id="account_password" name="account_password" placeholder="Password" required>
                    <img id="passwordToggle" class="eye-icon" src="/images/show-password.png" alt="Show Password">
                </div>                                
                <button type="submit" onclick="registerUser(event)">REGISTER</button>
            </form>
        </fieldset> 
        <div id="message"><%= message || req.flash('error') || '' %></div>       
    </div>
</div>
<script src="/scripts/script.js"></script>
<script src="/scripts/system-cryptography.js"></script>
<script src="/scripts/registration.js"></script>