<header>
  <div class="header-container">
    <img src="../images/sentinel-only.svg" alt="AEGIS Logo" class="logo" onclick="location.href='/'">
    <div class="header-text">
      <h1 onclick="location.href='/'">AEGIS</h1>
      <p>Sub Rosa</p>
      <p class="header-tagline">'Guardians of Secrets, Cloaked in Code, Forged in Trust'</p>
      <p class="header-message"><%= message %></p>
    </div>
  </div>
</header>