<div class="account-controls">
  <button class="account-button" onclick="location.href='/account/profile'">ACCOUNT</button>
  <button class="logout-button" onclick="location.href='/account/logout'">LOGOUT</button>  
</div>
<div class="chat-container" id="chat-container">
  <!-- Messages will be added here dynamically -->
</div>
<div class="input-container">
    <button id="attach-button">+</button>
    <input type="text" id="message-input" placeholder="Type a message...">
    <button id="send-button">Send</button>
</div>
<!-- <script src="/scripts/messagingSim.js"></script> -->
<script src="/scripts/comms.js"></script>